


.main{
    width: 45%;
    background-color: #81AC27;
    margin: auto;
    padding: 10px;

}
.from-section{
    margin-left: 20px;
}
.text{
    width: 600px;
    border: 2px solid;
    background-color: white;
    border: none;
    color: #81AC27;
    height: 40px;
    border-radius: 15px;
}
.button{
    border: 2px solid;
    background-color: white;
    border: none;
    color: #81AC27;
    height: 30px;
    border-radius: 10px;
    width: 70px;
}